{% extends "home_base.html" %}
{% block content4 %}
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
        <p>JOBIN INTERNATIONAL COMPANY (JIC) is a multi functional professional business house established in 2008, providing a wide range of services in the field of consulting,total human resource solutions, procurement support services, life support services and more in various sectors of the industry such as Infrastructure, Sub structure,Road construction, MEP, Oil & Gas, Steel and off shore drilling projects.

          JIC is synonym for quality assured service & support to the International companies which take up mega projects in Kuwait. With 10 years of dedicated and qualityservice, JIC has etched an impeccable name in this field. Our client’s successful completion of the projects is our prime motive and our team of dedicatedprofessionals is its pillars.
          
          Kuwait is all poised for vision of a new Kuwait by 2035. JIC is holding strategic support services to the projects by foreign companies. The details of our client’smega projects in Kuwait, listed out in this brochure, will vouch for the trust we have earned in the sphere of our activities.</p>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
              The successful 10 years of JIC’s journey since, with extraordinary experience of our technical and administrative staff, has made us a leader in providing innovative solutions and support for our clients. During implementation of our client’s projects, JIC with its rich and wide experience can tailor make the right solutions. We abide by the highest security and safety standard that meets international requirements.
          </p>
          
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0"> 
          <ul>
              <li><i class="ri-check-double-line"></i> Synergism of JIC’s service departments cover projects of whatsoever size.</li>
              <li><i class="ri-check-double-line"></i> Our uniqueness reflects in the services we offer:</li>
              <li><i class="ri-check-double-line"></i>  Fastest growing total HR services platform.</li>
              <li><i class="ri-check-double-line"></i>  Quality bound procurement support.</li>
              <li><i class="ri-check-double-line"></i>  Satisfaction oriented Life support services</li>
            </ul>
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
{% endblock %}